
<main class="hero-section">
    <img src="~/Content/images/Fashion Beauty main BANNER.jpg" alt="" />
</main>
<!-- BANNER -->
<!-- LATEST COLLECTION SECTION WITH PRODUCTS DISPLAY -->
<section class="product-display-section scroll-container">
    <!-- scroll-container -->
    <div class="product-container scroll-element js-scroll fade-in">
        <!-- scroll-element js-scroll fade-in -->
        <div class="product-text-displaybox scroll-caption">
            <h1>LATEST COLLECTION</h1>
            <h1 id="view-button"><a href="./newArrival.html">VIEW ALL</a></h1>
        </div>

        <div id="product-list" class="products-displaybox">

        </div>
    </div>

</section>
<!-- PRODCT SECTION CLOSED -->
<section class="new-arrival-banner-section scroll-element js-scroll slide-right">
    <div class="leftside-banner scroll-caption">
        <img src="~/Content/images/Fashion Brand New Arrival BANNER.jpg" alt="banner" />
    </div>
    <div class="rightside-details">
        <h1>
            Revamp Your Closet , Redefine Your Style Get Fashion for Every You.
        </h1>
        <button type="submit"><a href="#top">Shop The Collection</a></button>
    </div>
</section>

<!-- PRODUCTS DISPLAY CATEGORIES -->
<section class="display-products-category scroll-element js-scroll slide-left">
    <div class="left-side-product-display scroll-caption">
        <p class="Category-heading">Categories</p>
        <div class="Category-img-text">
            <img src="~/Content/images/product-11.jpg" alt="Bottoms" />
            <p>
                <a href="#top" class="text-pop-up-right">TOPS ➡️</a>
            </p>
        </div>
        <div class="Category-img-text">
            <img src="~/Content/images/product-08.jpg" alt="Bottoms" />
            <p>
                <a href="#top" class="text-pop-up-right">BOTTOMS ➡️</a>
            </p>
        </div>
    </div>
    <div class="right-side-product-display scroll-caption">
        <div class="Category-img-text">
            <img src="~/Content/images/product-10.jpg" alt="Accessories" />
            <p>
                <a href="#top" class="text-pop-up-right">ACCESSORIES ➡️</a>
            </p>
        </div>
        <div class="Category-img-text">
            <img src="~/Content/images/product-09.jpg" alt="Accessories" />
            <p>
                <a href="#top" class="text-pop-up-right">DRESSES ➡️</a>
            </p>
        </div>
    </div>
</section>
<!-- PRODUCTS DISPLAY CATEGORIES CLOSED -->
<section class="customer-testimonials-section scroll-element js-scroll fade-in-bottom">
    <h1>TESTIMONIALS</h1>
    <div class="testimonials-main-container scroll-caption">
        <div class="testimonials-left-side">
            <div class="testimonials-message-profile">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
                    reiciendis soluta at fuga laborum doloribus est rerum voluptate
                    tenetur facilis eligendi quidem, laboriosam et a optio enim, autem
                    voluptatem in!
                </p>
                <div class="user-profile-name">
                    <div class="user-profile">
                        <img src="~/Content/images/user-test-01.jpg" alt="">
                    </div>
                    <div class="user-message">
                        <h4>PAULA ROBINSON</h4>
                    </div>
                </div>
            </div>

            <div class="testimonials-message-profile">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
                    reiciendis soluta at fuga laborum doloribus est rerum voluptate
                    tenetur facilis eligendi quidem, laboriosam et a optio enim, autem
                    voluptatem in!
                </p>
                <div class="user-profile-name">
                    <div class="user-profile">
                        <img src="~/Content/images/user-test-02.jpg" alt="">
                    </div>
                    <div class="user-message">
                        <h4>LUIS CARLOS </h4>
                    </div>
                </div>
            </div>

        </div>

        <div class="testimonials-right-side">
            <div class="testimonials-message-profile">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
                    reiciendis soluta at fuga laborum doloribus est rerum voluptate
                    tenetur facilis eligendi quidem, laboriosam et a optio enim, autem
                    voluptatem in!
                </p>
                <div class="user-profile-name">
                    <div class="user-profile">
                        <img src="~/Content/images/user-test-03.jpg" alt="">
                    </div>
                    <div class="user-message">
                        <h4>ALICIA STONE</h4>
                    </div>
                </div>
            </div>

            <div class="testimonials-message-profile">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
                    reiciendis soluta at fuga laborum doloribus est rerum voluptate
                    tenetur facilis eligendi quidem, laboriosam et a optio enim, autem
                    voluptatem in!
                </p>
                <div class="user-profile-name">
                    <div class="user-profile">
                        <img src="~/Content/images/user-test-04.jpg" alt="">
                    </div>
                    <div class="user-message">
                        <h4>MATTHEW JOHNSON</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="footer-one scroll-caption">
    <div class="fter-head-section scroll-element js-scroll fade-in-bottom">
        <div class="fter-description">
            <img src="~/Content/icon-svg/icons8-parachute-30.png" alt="" />
            <p>60 DAYS RETURN</p>
            <p>Money Back Guarantee</p>
        </div>
        <div class="fter-description">
            <img src="~/Content/icon-svg/icons8-shipping-30.png" alt="" />
            <p>FREE SHIPPING</p>
            <p>On All Orders Over $50</p>
        </div>
        <div class="fter-description">
            <img src="~/Content/icon-svg/icons8-customer-care-50.png" alt="" />
            <p>SUPPORT 24/7</p>
            <p>Call Us: +(0) 123 456 7890</p>
        </div>
    </div>
</section>