<link href="~/Content/CSS/Login_SignUp.css" rel="stylesheet" />
<section class="forms-section">
    <h1 class="section-title">Login & Signup Forms</h1>
    <div class="forms">
        <div class="form-wrapper is-active">
            <button type="button" class="switcher switcher-login">
                Login
                <span class="underline"></span>
            </button>
            <form class="form form-login" method="post">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset>
                    <legend>Please, enter your email and password for login.</legend>
                    <div class="input-block">
                        <label for="login-email">E-mail</label>
                        <input id="login-email" type="email" name="Email" required>
                    </div>
                    <div class="input-block">
                        <label for="login-password">Password</label>
                        <input id="login-password" type="password" name="Password" required>
                    </div>
                </fieldset>
                <button type="submit" class="btn-login">Login</button>
            </form>
        </div>
        <div class="form-wrapper">
            <button type="button" class="switcher switcher-signup">
                Sign Up
                <span class="underline"></span>
            </button>
            <form class="form form-signup" method="post" action="~/Accounts/SignUp">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset>
                    <legend>Please, enter your email, password and password confirmation for sign up.</legend>
                    <div class="input-block">
                        <label for="signup-username">Username</label>
                        <input id="signup-email" type="text" name="UserName" required>
                    </div>
                    <div class="input-block">
                        <label for="signup-email">E-mail</label>
                        <input id="signup-email" type="email" name="Email" required>
                    </div>
                    <div class="input-block">
                        <label for="signup-email">Mobile Number</label>
                        <input id="signup-email" type="text" name="MobileNumber" required>
                    </div>
                    <div class="input-block">
                        <label for="signup-password">Password</label>
                        <input id="signup-password" type="password" name="UserPassword" required>
                    </div>
                </fieldset>
                <button type="submit" class="btn-signup">Sign Up</button>
            </form>
        </div>
    </div>
</section>


<script src="~/Content/JS/Login_SignUp.js"></script>